/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/all";
a {
  color: #212529;
}

.btn-success {
    background-color: #218838;
    border-color: #218838;
    border-radius: .1rem;
}

.breadcrumb {
    background-color: #fff;
    color: #212529;
    font-size: 0.9rem;
    .breadcrumb-item.active {
      color: #212529;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      padding-right: 0.15rem;
      color: #212529;
      content: ">";
    }
  }

.k-grid-header {
  border-top: 3px solid #212529;
  border-bottom: 1px solid #777;
}
.k-grid-table {
  tbody {
    tr {
      background-color: #fff !important;
      border: none;
    }
    td {
      border: none !important;
      &:first-of-type {
        color: #09a1e7;
        text-decoration: underline dashed;
      }

      &:last-of-type {
          text-align: right !important;
          &::after {
              content:"  EGB(EGB)"
          }
      }
    }
  }
}